* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.banner {
  width: 100%;
  padding-block: 2.5rem;
  overflow: hidden;

  .scroller {
    width: 100%;
    overflow: hidden;
    padding-block: 1rem;
  }

  .rolling {
    display: flex;
    align-items: center;
    white-space: nowrap;
    gap: 1.5rem;

    animation: rolling 2s linear infinite;
  }

  .bg-gradient-animate {
    background: linear-gradient(45deg, rgb(241, 239, 232), rgb(249, 222, 124));
    background-size: 400%;
    background-position: 0 50%;
    animation: bg-gradient 3s ease infinite;
  }
}

.banner img {
  width: 2.6rem;
}

@keyframes bg-gradient {
  50% {
    background-position: 100% 50%;
  }
}

@keyframes rolling {
  to {
    transform: translateX(-132px);
  }
}
